@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600;700&display=swap');
body {
    background: radial-gradient(circle, #1f3756 0%, #141539 100%);
    background-repeat:no-repeat;
    background-size:cover;
    font-family: "Barlow", sans-serif;
}
/* * {
    outline: 1px solid red;
} */
.container {
    margin: 0 auto;
    padding: 0;  
    box-sizing: border-box;
    max-width: 1366px;
    height: 100%;
    position: relative;
}
.flex {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}
.logo_title {
    justify-content: space-around;
    column-gap: 30%;
    margin-top: 35px;
    max-width: 700px;
    width: 100%;
    min-height: 150px;
    border: 1px solid #FFFFFF;
    border-radius:15px;
    flex-direction: row;
    
}
.score {
    justify-content: center;
    gap: 0px;
    width: 150px;
    height: 114px;
    background-color: #FFFFFF;
    border-radius: 5px;
    font-size: 20px;
    text-transform: uppercase;
    color: #2A45C2;
    letter-spacing: 3px;
    & .total{
        font-size: 56px;
        margin: 0;
        color: #565468;
    }
}
.game_items {
    flex-direction: row;
    width: 473px;
    height: 390px;
    flex-wrap: wrap;
    justify-content: center;
    background-image: url(../images/bg-triangle.svg);
    background-repeat: no-repeat;
    background-position: center;
    & button {
        width: 180px;
        height: 180px;
        border-radius: 50%;
        cursor: pointer;
        background: radial-gradient(circle at 50% 50%, #ffffff, #e0e0e0);
        transition: all 0.3s ease;
    }

    & button img {
        width: 50px;
        height: 70px;
    }
    & .paper {
        border: 20px solid #4664F4;
        box-shadow:
        0 10px 5px 3px rgba(0, 0, 0, 0.3),
        0 8px 0 rgb(42, 69, 194),
        inset 0 6px  rgb(186, 191, 212),
        inset 0 -4px 8px rgba(0, 0, 0, 0.2);  
   
    }
    & .scissors {
        border: 20px solid #EB9F0E;
        box-shadow:
        0 10px 5px 3px rgba(0, 0, 0, 0.3),
        0 8px 0 rgb(199, 108, 27),
        inset 0 6px  rgb(186, 191, 212),
        inset 0 -4px 8px rgba(0, 0, 0, 0.2);
    }
    & .rock {
        border: 20px solid #DB2E4D;
        box-shadow:
        0 10px 5px 3px rgba(0, 0, 0, 0.3),
        0 8px 0 rgb(157, 22, 52),
        inset 0 6px  rgb(186, 191, 212),
        inset 0 -4px 8px rgba(0, 0, 0, 0.2);
    }
    & .paper:hover {
        box-shadow: 
        0 8px 12px rgba(0, 0, 0, 0.5), /* Більша зовнішня тінь */
        0 0 15px 15px rgba(42, 69, 194, 0.7); /* Світіння синього кольору */
        transform: translateY(5px)
    }
    & .scissors:hover {
        box-shadow: 
        0 8px 12px rgba(0, 0, 0, 0.5), /* Більша зовнішня тінь */
        0 0 15px 15px rgb(199, 108, 27, 0.7); /* Світіння синього кольору */
        transform: translateY(5px)
    }
    & .rock:hover {
        box-shadow: 
        0 8px 12px rgba(0, 0, 0, 0.5), /* Більша зовнішня тінь */
        0 0 15px 15px rgb(157, 22, 52, 0.7); /* Світіння синього кольору */
        transform: translateY(5px)
    }
}

.game {
    display: none;
    flex-direction: row;
    max-width: 950px;
    height: 390px;
    flex-wrap: wrap;
    justify-content: space-between;
    & button {
        width: 250px;
        height: 250px;
        border-radius: 50%;
        cursor: pointer;
        background: radial-gradient(circle at 50% 50%, #ffffff, #e0e0e0);
        transition: all 0.3s ease;
    }

    & button img {
        width: 60px;
        height: 80px;
    }
    & > button.play-again {
        display: none;
        width: 200px;
        height: 50px;
        background-color: white;
        font-weight: 500;
        font-size: 16px;
        text-transform: uppercase;
        border-radius: 5px;
        justify-content: center;
    }
    & .paper {
        border: 30px solid #4664F4;
        box-shadow:
        0 10px 5px 3px rgba(0, 0, 0, 0.3),
        0 8px 0 rgb(42, 69, 194),
        inset 0 6px  rgb(186, 191, 212),
        inset 0 -4px 8px rgba(0, 0, 0, 0.2);  
   
    }
    & .scissors {
        border: 30px solid #EB9F0E;
        box-shadow:
        0 10px 5px 3px rgba(0, 0, 0, 0.3),
        0 8px 0 rgb(199, 108, 27),
        inset 0 6px  rgb(186, 191, 212),
        inset 0 -4px 8px rgba(0, 0, 0, 0.2);
    }
    & .rock {
        border: 30px solid #DB2E4D;
        box-shadow:
        0 10px 5px 3px rgba(0, 0, 0, 0.3),
        0 8px 0 rgb(157, 22, 52),
        inset 0 6px  rgb(186, 191, 212),
        inset 0 -4px 8px rgba(0, 0, 0, 0.2);
    }
    & .choice {
        text-align: center;
        color: #ffffff;
        margin-bottom: 50px;
        font-size: 36px;
    }
}

.result_game {
    justify-content: center;
    width: 200px;
    height: 25px;
    color: #FFF;
    & .result_text {
        font-weight: bold;
        width: 200px;
        font-size: 36px;
        color: #FFF;
        justify-content: center;
        text-transform: uppercase;
        
    }
    & .play-again {
        align-items: center;
        width: 165px;
        height: 40px;
        background-color: white;
        font-weight: 500;
        font-size: 16px;
        text-transform: uppercase;
        border-radius: 5px;
    }
    & .play-again:hover {
        color: #DB2E4D;
    }
}

.rules {
    align-self: flex-end;
    & button {
        width: 128px;
        height: 40px;
        border: 2px solid #ffffff;
        border-radius: 10px;
        background-color: inherit;
        color: #ffffff;
        text-transform: uppercase;
        letter-spacing: 3px;
        font-weight: bold;
        font-size: 16px;
        text-align: center;
        cursor: pointer;
    }

    & button:hover {
        background-color: #ffffff;
        color: inherit;
    }

    & button:focus {
        background-color: #ffffff;
        color: inherit;
    }

   
    & .rule_wrapper {
        display: none;
        row-gap: 15px;
        position: absolute;
        
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);

        background-color: #ffffff;
        width: 305px;
        height: 290px;
        padding: 20px 30px 50px 30px;
        border-radius: 5px;
    }
    & .close {
        width: 20px;
        height: 20px;
    }

    & .rule_icon {
        flex-direction: row;
        justify-content: space-between;
        column-gap: 180px;
    }

    & .rule_text {
        margin: 0 auto;
        text-transform: uppercase;
        font-size: 30px;
        font-weight: bold;
    }
}