:root {
    --font-family: "Jost", sans-serif;

    --black: #1D1C1E;
    --dark-gray: #333136;
    --white: #fff;
    --light-gray: #f1f3f5;
    --peach: #e7816b;
    --light-peach: #ffad9b;
}


body {
    font-family: var(--font-family);
    font-weight: 400;
    font-style: normal;
}


.container {
    box-sizing: border-box;
    max-width: 1130px;
    padding: 0 10px;
    margin: 0 auto;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 152px;
    height: 56px;

    font-weight: 500;
    font-size: 15px;
    text-align: center;
    letter-spacing: 0.07em;
    text-transform: uppercase;

    background-color: #fff;
    color: var(--dark-gray);
    border-radius: 8px;

    transition: all .2s cubic-bezier(0.95, 0.05, 0.795, 0.035);
}

/* Header */
.header {
    padding: 65px 0;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo_img {
    width: 196px ;
}


.header_nav-list {
    display: flex;
    justify-content: space-between;
    column-gap: 42px;
}

.header_nav-item {
    font-size: 14px;
    color: var(--text-dark-gray);
}

.header_nav-item:hover {
    text-decoration: underline;
    top:1px;
}

.header_nav-item:active {
    position: relative;
    top:1px;
}

/* Main */

.main {
    max-width: 1440px;
    margin: 0px auto;

    background-image: url(../images/body_bg_top.png), url(../images/body_bg_bottom.png);
    background-repeat: no-repeat;
    background-position: left top 320px, right bottom 74px;
}

.hero_content {
    margin-bottom: 160px;
}

.hero_content .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 95px;

    min-height: 640px;
    border-radius: 15px;

    background:url(../images/hero_smart.png) , url(../images/hero_bg_circle.png);
    background-color: var(--peach);
    background-repeat: no-repeat;
    background-position: right bottom -1px, right center;
}

.hero_text {
    max-width: 540px;
}


.hero_title {
    min-height: 165px;
    font-weight: 500;
    font-size: 48px;

    color: var(--white);

    margin-bottom: 30px;
}

.hero_desk {
    width: 445px;

    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--white);

    margin-bottom: 40px;
}

.btn:hover {
    background-color: var(--light-peach);
    color: var(--white);
}

.btn:active {
    position: relative;
    top: 1px;
}

/* Product list */

.products {
    min-height: 800px;
}


.products .container {
    width:100%;
    display: flex;
    gap: 30px;
}

.products article div {
    border-radius: inherit;
    width: inherit;
    height: 100%;
    
    transition: background 0.5s ease-in-out;
}

.products article:hover div{
    background-color: rgba(231, 130, 107, 0.8);
}

.product__content-item {
    width:100%;
}

.product__content-item.product {
    min-height: 640px;
    background-image: url(../images/web.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

div.product__content-item article.product {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

div.product__content-item article.product:nth-child(1) {
    background-image: url(../images/app.jpg);
}

.app div.product__content-item article.product:nth-child(1) {
    background-image: url(../images/web.png);
}

div.product__content-item article.product:nth-child(2) {
    background-image: url(../images/graphic.jpg);
}

.grd div.product__content-item article.product:nth-child(2) {
    background-image: url(../images/web.png);
}

div.product__content-item {
    display: flex;
    flex-direction: column;
    gap:24px;
}


.product div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product {
    gap: 24px;
    
    max-width:540px;
    width:100%;
    height: 308px;
    
    border-radius: 15px;
    background-color: var(--dark-gray);
}

.card_title {
    font-weight: 500;
    font-size: 40px;
    line-height: 120%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color:var(--white);
    margin-bottom: 24px;
}


.products a {
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 0.33em;
    text-transform: uppercase;
    color: var(--white);
    
    padding-right: 21px ;
    
    background-image: url(../images/arrow_right.svg);
    background-repeat: no-repeat;
    background-position: right center;
}

/* section props */


.props .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 30px;
}

.props_item {
    width: 350px;
    text-align: center;
    min-height: 792px;
}


.props_icon {
    margin-bottom: 48px;
}

.props_item h2 {
    font-weight: 500;
    font-size: 20px;
    line-height: 130%;
    letter-spacing: 0.25em;
    color: var(--dark-gray);
    margin-bottom: 32px;
}

.props_item p {
    font-size: 16px;
    line-height: 162%;
    color: var(--dark-gray);
}

/* Footer */

.footer {
    min-height: 393px;
    background-color: var(--black);
    position: relative;
    padding-top: 140px;
}

.touch {
    display: flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 310px;
    
    height: 292px;
    max-width: 1110px;
    width:100%;
    
    border-radius: 15px;
    
    background: url(../images/Touch-bg.png) , var(--peach);
    background-repeat: no-repeat;
    background-position: right center;
    
    position: absolute;
    top: -220px;
    
    padding-left: 94px;
    padding-right: 94px;
}

.touch_content h2 {
    max-width: 270px;
    font-weight: 500;
    font-size: 40px;
    line-height: 40px;
    color: var(--white);
    margin-bottom: 18px;
}

.touch_content p {
    max-width: 460px;
    line-height: 26px;
    color: var(--white);
}

.touch .btn:hover {
    background-color: var(--light-peach);
    color: var(--white);
}

.footer_nav {
    padding-bottom: 40px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.footer_nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer .logo_img {
    width: 202px;
}

.footer_nav-list {
    display: flex;
    justify-content: space-between;
    column-gap: 42px;
}

.footer_nav-item {
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0.14em;
    color: var(--white);
}

/* footer info */

.footer_info {
    padding-top: 31px;
}

.footer_info .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info_item h2 {
    font-size: 16px;
    line-height: 26px;
    font-weight: 700;
    
    color: rgba(255, 255, 255, 0.5)
}


.info_item p {
    margin-top: 0;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    
    color: rgba(255, 255, 255, 0.5)
}

.info_item.contact p{
    font-weight: 700;
}

.info_social {
    display: flex;
    justify-content: end;
    align-items: end;
    column-gap: 16px;
    
    height: 78px;
}

.info_social svg {
    transition: 0.2s ease-in;
}

.info_social svg:hover {
    /* filter: brightness(0) saturate(100%) invert(97%) sepia(76%) saturate(4700%) hue-rotate(293deg) brightness(96%) contrast(111%); */
    fill: rgb(255, 173, 155);
}

/* WEBD.HTML */

.webd .main_touch  {
    margin-bottom: 160px;
}


.webd .main_touch {
    display: flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 310px;
    
    height: 292px;
    max-width: 1110px;
    width:100%;
    
    border-radius: 15px;
    
    background: url(../images/Touch-bg.png) , var(--peach);
    background-repeat: no-repeat;
    background-position: right center;
}

.webd .main_touch-content h2 {
    font-weight: 500;
    font-size: 48px;
    line-height: 100%;
    text-align: center;
    color: var(--white);
    margin-bottom: 25px;
}

.webd .main_touch-content  {
    max-width: 430px;
    font-weight: 400;
    font-size: 16px;
    line-height: 162%;
    text-align: center; 
    color:var(--white);
}


.webd .products {
    min-height: 630px;
}

.webd div.product__content-item {
    flex-direction: row;
}

.webd .works {
    display: flex; 
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 32px;

    margin-bottom: 160px;
}


.webd .works__item {
    display: flex;
    flex-direction: column;
    width:350px;
    height: 478px;

    border-radius: 15px;
    background-color: #FDF3F0;
}

.webd .works div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 158px;
    gap: 16px;
    border-bottom-right-radius: inherit;
    border-bottom-left-radius: inherit;

    transform: background 0.5s ease-in-out;
}

.webd .works__item div:hover {
    background-color: var(--peach);
    color: var(--white);
}

.works__item div:hover h3 {
    color: var(--white);
}

.webd .works__item h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0.25em;
    text-align: center;
    color: var(--peach);

    text-transform: uppercase;
}

.webd .works__item p {
    margin: 0 auto;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    width: 286px;
}

/* Section About_us */

.about {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 480px;
    border-radius: 15px;
    background-color: var(--peach);

    background-image: url(../images/about_us/about_Oval.svg), url(../images/about_us/about__us.jpg);
    background-repeat:no-repeat;
    background-position: left center, right center;
    margin-bottom: 160px;
}

.about_info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    gap: 32px;
    margin-left: 95px;
    max-width: 460px
}

.about_info h2 {
    font-weight: 500;
    font-size: 48px;
    color: var(--white)
}

.about_info p {
    font-weight: 400;
    font-size: 15px;
    color: var(--white);
    line-height: 26px;
}

/* section Talent */

.talent {
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-radius: 15px;
    background-color: #fdf3fd;
    margin-bottom: 160px;
    padding: 0;
    background-image: url(../images/about_us/talent_oval.png);
    background-repeat: no-repeat;
    background-position: center bottom;
}

.talent_bg {
    max-width: 476px;
    width: 100%;
    height: 640px;
    background-image: url(../images/about_us/talent.jpg);
    background-repeat: no-repeat;
    
}

.talent_info {
    margin-right: 90px;
    max-width: 550px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    gap: 24px;
   
}
.talent_info h2 {
    max-width: 445px;

    font-weight: 500;
    font-size: 48px;
    color: var(--peach)
}
.talent_info p {
    max-width: 445px;
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
}

/* geo about_us */

.geo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 160px;
}

.geo_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 32px;
}

.geo_item img {
    margin-bottom: 16px;
}

.geo_item h3 {
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 5px;
    line-height: 26px;
}

.geo .btn {
    font-weight: 500;
    font-size: 15px;
    background-color: var(--peach);
    color: var(--white);
    cursor: pointer;
}

.geo .btn:hover {
    background-color: var(--light-peach);
}

/* deal section */

.deal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 380px;
    height: 640px;

    border-radius: 15px;
    background-color: #fdf3fd;
    background-image: url(../images/about_us/deal_oval.svg), url(../images/about_us/deal.jpg);
    background-repeat:no-repeat;
    background-position: left bottom, right center;
    
}

.deal_info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    gap: 32px;
    margin:0 94px;
    max-width: 460px
}

.deal_info h2 {
    max-width: 445px;
    font-weight: 500;
    font-size: 48px;
    color: var(--peach)
}
.deal_info p {
    max-width: 445px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}

.main.loc {
    background: none;
}
/* location page */

.location {
    display: flex;
    flex-direction: column;
    row-gap:32px;
    margin-bottom: 380px;
}

.locations__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.locations__item iframe {
    border-radius: 15px;
}

.locations__item article { 
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 730px;
    width: 100%;
    min-height: 326px;

    background-color: #FDF3F0 ;
    border-radius: 15px;
    background-image: url(../images/geo/geo_oval.png), url(../images/geo/geo_oval.png);
    background-repeat: no-repeat;
    background-position: left bottom, left 292px bottom;
}

.locations__item address {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 30px;
    font-style: inherit;
}

.locations__item:nth-child(2) article {
    order:1;
}

.locations__item h2 {
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
    color: var(--peach);
    margin-bottom: 24px;
}
.locations__item h3 {
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
}
.locations__item p {
    font-size: 16px;
    line-height: 26px;
}

.locations__item address div {
    width: 255px;
}
/* contact page */

.main.contact {
    background: none;
}


footer.contact {
    padding-top: 72px;
}


.contact_form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 55px 95px;
    margin-bottom: 160px;
    min-height: 480px;

    background-color: var(--peach);
    background-image: url(../images/contact/contact_oval.png);
    background-repeat: no-repeat;
    border-radius: 15px;
}

.contact_text {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
    max-width: 445px;
}
.contact_text h1 {
    font-weight: 500;
    font-size: 48px;
    line-height: 48px;
    color: var(--white);
}
.contact_text p {
    max-width: 445px;
    font-size: 16px;
    line-height: 26px;
    color: var(--white);
}

.contact_form form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    row-gap: 25px;
    max-width: 380px;
    width:100%;

    color:var(--white);
}


.contact_form input,
.contact_form textarea {
    width: 100%;
    border:none;
    background-color: transparent;
    outline: none;
    border-bottom: 1px solid #fff;
}

.contact_form input {
    height: 38px;
    padding: 0 16px 11px 16px;
}

.contact_form textarea {
    padding: 0 16px 11px 16px;
    height: 102px;
}

*::placeholder {
    color: var(--white);
    opacity: 0.5;
}

.contact_form button {
    align-self: flex-end;

    width: 152px;
    height: 56px;

    font-weight: 500;
    font-size: 15px;
    text-align: center;
    letter-spacing: 0.07em;
    text-transform: uppercase;

    background-color: var(--white);
    color: var(--dark-gray);
    border-radius: 8px;

    transition: all .2s cubic-bezier(0.95, 0.05, 0.795, 0.035);
}

.contact_form form button:hover {
    background-color: var(--light-peach);
    color: var(--white);
    
}

@media(max-width:768px) {
    .main {
        background-image: none;
    }


    .hero_content .container {
        flex-direction: column;
        background-position: center bottom -120px, right center;
        min-height: 890px;
        margin: 0 10px;
    }

    .products .container {
        flex-wrap: wrap;
        gap: 24px;
    }

    .hero_text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 326px;
        text-align: center;
        padding-top: 60px;

    }
    .hero_title {
        font-size: 44px;
    }

    .products article{
        max-width: 100%;
        min-height: 200px;
    }

    .product__content-item.product {
        min-height: 20px;
    }

    .products {
        margin-bottom: 120px;
    }


    /* .props .container {
        flex-direction: column;
    }

    .props_item {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
       
        min-height: 202px;
    }
    .props_icon {
        height: 202px;
    }

    .touch {
        position: relative;
        
    }

    .footer {
        padding-top: 0;
    } */
}

