*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: yellow;
}

li {
  font-size: 24px;
}

.todo_list_container {
  max-width: 100%;
  width: 800px;
  padding: 15px;
  background-color: blue;
  border-radius: 70px;
  color: aliceblue;
  margin: auto;
  margin-bottom: 20px;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
}
.todo-title {
  font-size: 36px;
}
.input-text {
  width: 750px;
  max-width: 100%;
  padding: 10px;
}
.btn {
  width: 100px;
  height: 36px;
  cursor: pointer;
}

.todo_list_item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  max-width: 100%;
  width: 600px;
  list-style-type: none;
  margin: auto;
}
.list_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  width: 600px;
  padding: 8px 12px;
  background-color: blue;
  color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  word-break: break-word;
}

.done {
  text-decoration: line-through;
  color: black;
  opacity: 0.5;
}

.btn-group {
  display: flex;
  gap: 10px;
}

.btn-done {
  width: 35px;
  background-color: green;
  color: white;
}

.btn-remove {
  width: 35px;
  background-color: red;
  color: white;
}

.btn:hover {
  background-color: chartreuse;
}
