# Node
node_modules/
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Build / output
dist/            # видали цей рядок якщо хочеш зберігати dist у репозиторії
build/
out/
coverage/
*.tsbuildinfo

# Transpiled files / maps
*.js
*.js.map

# Env
.env
.env.*.local

# IDEs / editors
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
